*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    width: 100%;
    height: auto;
    background-image: linear-gradient(to top, rgba(33, 33, 33, 0.9), rgba(0,0,0,0.0)), url(image/background.png);
    background-size: cover;
    background-position: center;
}

section nav{
    width: 100%;
    height: auto;
    background-color: #1d1d1d;
    border-bottom: 1px solid #2f2f2f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

section nav .left_warpper{
    display: flex;
    align-items: center;
    margin-left: 90px;
}

section nav .left_warpper p{
    color: #919191;
    font-size: 19px;
    margin-left: 20px;
}

section nav .right_warpper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 90px;
}

section nav .right_warpper .search_bar{
    width: 250px;
    height: 35px;
    border: 1px solid #333;
    border-radius: 30px;
    margin: 8px 15px;
}

section nav .right_warpper .search_bar i{
    color: #919191;
    margin-left: 10px;
    margin-top: 8px;
}

section nav .right_warpper .search_bar input{
    width: 80%;
    padding: 5px 0;
    background: none;
    border-radius: 30px;
    border: none;
    outline: none;
    color: #919191;
    margin-left: 10px;
}

section nav .right_warpper ul{
    list-style: none;
}

section nav .right_warpper ul li{
    display: inline-block;
    padding: 0 10px;
}

section nav .right_warpper ul li a{
    color: #919191;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

section nav .right_warpper ul li a.active{
    color: #6ac045;
}

section nav .right_warpper .login{
    display: flex;
    align-items: center;
    margin: 8px 15px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}

section nav .right_warpper .login p.down{
    color: #919191;
    margin: 10px 10px 0 10px;
}




/*---------main-----------*/

section .main{
    text-align: center;
    margin-top: 40px;
}

section .main h1{
    color: #fff;
    font-size: 44px;
}

section .main p{
    color: #cccccc;
    width: 700px;
    margin: 30px auto 30px auto;
    font-size: 15px;
    line-height: 21px;
}

section .main h3{
    color: #428bca;
    font-size: 15px;
}

section .main h3:hover{
    opacity: 0.7;
    cursor: pointer;
}



/*-----------center_text-----------*/

section .center_text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
    font-size: 18px;
}

section .center_text .download{
    display: flex;
    align-items: center;
}

section .center_text .download i{
    color: #6ac045;
    margin: 0 8px;
}

section .center_text .download p{
    color: #fff;
    font-weight: bold;
}

section .center_text .featured{
    display: flex;
    align-items: center;
    position: relative;
    left: 370px;
}

section .center_text .featured img{
    width: 20px;
    height: 20px;
    margin: 0 8px;
}

section .center_text .featured p{
    color: #428bca;
    font-weight: bold;
}

section .center_text .featured p:hover{
    opacity: 0.7;
    cursor: pointer;
}

section hr{
    width: 80%;
    height: 1px;
    background-color: #cccccc;
    margin: 15px auto 30px auto;
    border: 0;
}




/*-------------movies box----------------*/

section .movies_box{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

section .movies_box .movies_card{
    width: 220px;
    height: 355px;
    overflow: hidden;
}

section .movies_box .movies_card .movies_image{
    width: 220px;
    height: 310px;
    position: relative;
}

section .movies_box .movies_card .movies_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 4px solid #fff;
    border-radius: 3px;
}

section .movies_box .movies_card .movies_image .hover{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    transition: 0.3s;
}

section .movies_box .movies_card .movies_image .hover i{
    color: #6ac045;
    font-size: 19px;
    position: relative;
    bottom: 60px;
}

section .movies_box .movies_card .movies_image .hover .rate{
    position: relative;
    bottom: 40px;
    font-size: 25px;
    font-weight: bold;
}

section .movies_box .movies_card .movies_image .hover .categories{
    font-size: 25px;
    font-weight: bold;
}

section .movies_box .movies_card .movies_image .hover .btn{
    color: #fff;
    text-decoration: none;
    background: #6ac045;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    top: 50px;
    transform: translateY(30px);
    transition: 0.3s;
}

section .movies_box .movies_card .movies_image .hover:hover .btn{
    transform: translateY(0);
}

section .movies_box .movies_card .movies_image:hover .hover{
    opacity: 1;
    background: rgba(0,0,0,0.6);
    border: 4px solid #6ac045;
    border-radius: 3px;
    cursor: pointer;
}

section .movies_box .movies_card .text{
    color: #fff;
    margin-top: 5px;
    font-size: 14px;
    padding: 0 5px;
    font-weight: bold;
}

section .movies_box .movies_card .text p.name:hover{
    transition: 0.3s;
    color: #919191;
    cursor: pointer;
}

section .movies_box .movies_card .text p.year{
    color: #919191;
}




/*---------------add----------------*/

section .add{
    width: 100%;
    height: auto;
}

section .add .add_box{
    width: 80%;
    margin: 0 auto;
    padding: 25px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .add .add_box .add_card .add_img img{
    width: 277px;
    height: 183px;
    object-fit: cover;
    object-position: center;
}

section .add .add_box .add_card h3 , p{
    color: #fff;
    margin-top: 3px;
}



/*--------------Social Icon--------------*/

.social_icon{
    position: fixed;
    top: 20%;
    right: 0;
}

.social_icon .right_icon_1{
    background: #1da0f1;
    width: 50px;
    height: 50px;
    text-align: center;
}

.social_icon .right_icon_1 i{
    font-size: 24px;
    color: #fff;
    line-height: 50px;
}

.social_icon .right_icon_2{
    background: #fe5700;
    width: 50px;
    height: 50px;
    text-align: center;
} 

.social_icon .right_icon_2 i{
    font-size: 24px;
    color: #fff;
    line-height: 50px;
}

.social_icon .right_icon_3{
    background: #4076a6;
    width: 50px;
    height: 50px;
    text-align: center;
} 

.social_icon .right_icon_3 i{
    font-size: 24px;
    color: #fff;
    line-height: 50px;
}

.social_icon .right_icon_4{
    background: #ca2027;
    width: 50px;
    height: 50px;
    text-align: center;
} 

.social_icon .right_icon_4 i{
    font-size: 24px;
    color: #fff;
    line-height: 50px;
}



/*------------Latest Movies-----------*/

.latest_movies{
    width: 100%;
    height: auto;
    padding: 50px 0;
    background: #171717;
}

.latest_movies .main-text{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-bottom: 30px;
}

.latest_movies .main-text h4{
    color: #919191;
    cursor: pointer;
    transition: 0.3s;
}

.latest_movies .main-text h4:hover{
    color: #fff;
}

.latest_movies .movies_box{
    width: 80%;
    height: auto;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.latest_movies .movies_box .movies_card{
    width: 220px;
    height: 355px;
    overflow: hidden;
}

.latest_movies .movies_box .movies_card .movies_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 4px solid #fff;
    cursor: pointer;
}

.latest_movies .movies_box .movies_card .movies_image{
    width: 220px;
    height: 310px;
    position: relative;
}

.latest_movies .movies_box .movies_card .movies_image .hover{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    opacity: 0;
    transition: 0.3s;
}

.latest_movies .movies_box .movies_card .movies_image .hover i{
    color: #6ac045;
    font-size: 19px;
    position: relative;
    bottom: 60px;
}

.latest_movies .movies_box .movies_card .movies_image .hover .rate{
    position: relative;
    bottom: 40px;
    font-size: 25px;
    font-weight: bold;
}

.latest_movies .movies_box .movies_card .movies_image .hover .categories{
    font-size: 25px;
    font-weight: bold;
}

.latest_movies .movies_box .movies_card .movies_image .hover .btn{
    color: #fff;
    text-decoration: none;
    background-color: #6ac045;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    top: 50px;
    transform: translateY(30px);
    transition: 0.3s;
}

.latest_movies .movies_box .movies_card .movies_image .hover:hover .btn{
    transform: translateY(0);
}

.latest_movies .movies_box .movies_card .movies_image:hover .hover{
    background: rgba(0,0,0,0.6);
    border: 4px solid #6ac045;
    cursor: pointer;
    opacity: 1;
}

.latest_movies .movies_box .movies_card .text{
    color: #fff;
    margin-top: 5px;
    font-size: 14px;
    padding: 0 5px;
}

.latest_movies .movies_box .movies_card .text p.name:hover{
    transition: 0.3s;
    color: #919191;
    cursor: pointer;
}

.latest_movies .movies_box .movies_card .text p.year{
    color: #919191;
}




/*------------------upcoming------------------*/

.upcoming{
    width: 100%;
    height: auto;
    background: #1d1d1d;
    padding: 50px 0;
}

.upcoming .upcoming_text{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 30px;
}

.upcoming .upcoming_text h4{
    color: #919191;
    cursor: pointer;
    transition: 0.3s;
}

.upcoming .upcoming_text h4:hover{
    color: #fff;
}

.upcoming .movies_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 0 50px;
}

.upcoming .movies_box .movies_card{
    width: 220px;
    height: 375px;
    overflow: hidden;
}

.upcoming .movies_box .movies_card .movies_image{
    width: 220px;
    height: 310px;
    position: relative;
}

.upcoming .movies_box .movies_card .movies_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: 4px solid #fff;
    border-radius: 3px;
}

.upcoming .movies_box .movies_card .movies_image .hover{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    opacity: 0;
    transition: 0.3s;
}

.upcoming .movies_box .movies_card .movies_image .hover i{
    color: #6ac045;
    font-size: 19px;
    position: relative;
    bottom: 60px;
}

.upcoming .movies_box .movies_card .movies_image .hover .rate{
    position: relative;
    bottom: 40px;
    font-size: 25px;
    font-weight: bold;
}

.upcoming .movies_box .movies_card .movies_image .hover .categories{
    font-size: 25px;
    font-weight: bold;
}

.upcoming .movies_box .movies_card .movies_image .hover .btn{
    color: #fff;
    text-decoration: none;
    background-color: #6ac045;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    top: 50px;
    transform: translateY(30px);
    transition: 0.3s;
}

.upcoming .movies_box .movies_card .movies_image .hover:hover .btn{
    transform: translateY(0);
}

.upcoming .movies_box .movies_card .movies_image:hover .hover{
    background: rgba(0,0,0,0.6);
    border: 4px solid #6ac045;
    cursor: pointer;
    opacity: 1;
}

.upcoming .movies_box .movies_card .text{
    color: #fff;
    margin-top: 5px;
    font-size: 14px;
    padding: 0 5px;
}

.upcoming .movies_box .movies_card .text p.year{
    color: #919191;
}

.upcoming .movies_box .movies_card .line{
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.upcoming .movies_box .movies_card .line .main_line{
    width: 120px;
    height: 5px;
    background: #fff;
    border-radius: 15px;
    margin-right: 10px;
}

.upcoming .movies_box .movies_card .line .main_line .color_line{
    width: 80%;
    height: 100%;
    background: #0078d4;
    border-radius: 15px;
}

.upcoming .movies_box .movies_card .line p{
    font-size: 14px;
    color: #919191;
}


/*--------------footer-----------------*/

footer{
    width: 100%;
    height: auto;
    padding: 30px 0;
    background: #0e0e0e;
}

footer .row{
    color: #919191;
    text-align: center;
    margin: 15px 0;
}

footer .row span{
    color: #fff;
    cursor: pointer;
    margin: 0 8px;
    transition: 0.3s;
}

footer .rows{
    color: #fff;
    text-align: center;
}

footer .rows span{
    color: #919191;
    margin: 0 8px;
    cursor: pointer;
}